@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap);
:root {
  font-size: 62.5%;
}
@media only screen and (max-width: 64em) {
  :root {
    font-size: 55%;
  }
}
@media only screen and (max-width: 31.25em) {
  :root {
    font-size: 50%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-size: 2rem;
  line-height: 1.35em;
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
  background-color: #cccccc;
}

.outer-wrapper {
  max-width: 80rem;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.ad__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.ad__container > *:not(:last-child) {
  margin-bottom: 3rem;
}
.ad__img {
  min-height: 0;
  flex: 1 0 0;
}
.ad__img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.instructions__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.instructions__container > *:not(:last-child) {
  margin-bottom: 3rem;
}
.instructions__text p:not(:last-child), .instructions__text ul:not(:last-child), .instructions__text li:not(:last-child) {
  margin-bottom: 2rem;
}
.instructions__text ul {
  list-style-type: circle;
  margin-left: 2rem;
}

.results__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.results__container > *:not(:last-child) {
  margin-bottom: 3rem;
}

.smart-quiz {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
}
.smart-quiz > *:not(:last-child) {
  margin-bottom: 3rem;
}

.time-bar {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  height: 1.5rem;
  line-height: 1.5rem;
  background-image: linear-gradient(to right, #009c00 40%, #ff8800 70%, #c00000 95%, #c00000 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.time-bar__white-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(#f0f0f0, #f0f0f0);
  background-position: right;
}
.time-bar__white-bg--running {
  -webkit-animation: run-bar 5s linear forwards;
          animation: run-bar 5s linear forwards;
}
.time-bar__white-bg--complete {
  -webkit-animation: pulse-bar 1s linear both infinite;
          animation: pulse-bar 1s linear both infinite;
}

@-webkit-keyframes run-bar {
  from {
    background-size: 100%;
  }
  to {
    background-size: 0%;
  }
}

@keyframes run-bar {
  from {
    background-size: 100%;
  }
  to {
    background-size: 0%;
  }
}
@-webkit-keyframes pulse-bar {
  from {
    background-image: linear-gradient(#c00000, #c00000);
  }
  to {
    background-image: linear-gradient(#f0f0f0, #f0f0f0);
  }
}
@keyframes pulse-bar {
  from {
    background-image: linear-gradient(#c00000, #c00000);
  }
  to {
    background-image: linear-gradient(#f0f0f0, #f0f0f0);
  }
}
.button__container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 31.25em) {
  .button__container {
    flex-wrap: wrap;
  }
}
.button__submit, .button__skip {
  flex: 0 0 calc( (100% - 2rem) / 2);
}
@media only screen and (max-width: 31.25em) {
  .button__submit, .button__skip {
    flex: 1 1 100%;
  }
  .button__submit:not(:last-child), .button__skip:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.answers__container {
  margin-bottom: 2rem;
}
.answers__single:not(:last-child) {
  margin-bottom: 2rem;
}
.answers__label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.answers__input {
  margin-right: 2rem;
}
.answers__img {
  max-width: 100%;
}

.question__heading {
  font-size: 3.5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.question__text {
  margin-bottom: 2rem;
}

.btn {
  font-size: 2rem;
  line-height: 1.35em;
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
.btn:disabled, .btn:disabled:hover {
  background-color: #cccccc;
  cursor: not-allowed;
  border-color: #cccccc;
  opacity: 0.75;
  color: #f0f0f0;
}
.btn--large {
  padding: 2rem 3rem;
}
.btn--primary {
  background-color: #17408b;
  border-color: #17408b;
  color: #f0f0f0;
}
@media only screen and (hover: hover) {
  .btn--primary:hover {
    background-color: #f0f0f0;
    color: #17408b;
  }
}
.btn--green {
  background-color: #009c00;
  border-color: #009c00;
  color: #f0f0f0;
}
@media only screen and (hover: hover) {
  .btn--green:hover {
    background-color: #f0f0f0;
    color: #009c00;
  }
}
.btn--orange {
  background-color: #ff8800;
  border-color: #ff8800;
  color: #f0f0f0;
}
@media only screen and (hover: hover) {
  .btn--orange:hover {
    background-color: #f0f0f0;
    color: #ff8800;
  }
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.topic__label {
  flex: 0 0 100%;
}
.topic__select {
  width: 100%;
  font-size: 2rem;
  line-height: 1.35em;
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.topic__select:focus, .topic__select:active {
  outline: none;
  border-color: #17408b;
  color: #17408b;
  background-color: #f0f0f0;
}
.topic__option {
  color: #3f3f3f;
}

.text-uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}
