@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap);
@charset "UTF-8";
:root {
  font-size: 62.5%;
}
@media only screen and (max-width: 64em) {
  :root {
    font-size: 55%;
  }
}
@media only screen and (max-width: 31.25em) {
  :root {
    font-size: 50%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-size: 2rem;
  line-height: 1.35em;
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
}
@media only screen and (max-width: 31.25em) {
  body {
    background-image: none;
  }
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  max-width: 80rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem 0;
  position: relative;
}
@media only screen and (max-width: 64em) {
  .outer-wrapper {
    padding: 0;
  }
}

h1,
h2 {
  font-size: 4rem;
  line-height: 5rem;
}

.btn {
  font-size: 2rem;
  line-height: 1.35em;
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
.btn:disabled, .btn:disabled:hover {
  background-color: lightgray;
  cursor: not-allowed;
  border-color: lightgray;
  opacity: 0.75;
  color: #f0f0f0;
}
.btn--large {
  padding: 2rem 3rem;
}
.btn--primary {
  background-color: #17408b;
  border-color: #17408b;
  color: #f0f0f0;
}
@media only screen and (hover: hover) {
  .btn--primary:hover {
    background-color: #f0f0f0;
    color: #17408b;
  }
}
.btn--green {
  background-color: #009c00;
  border-color: #009c00;
  color: #f0f0f0;
}
@media only screen and (hover: hover) {
  .btn--green:hover {
    background-color: #f0f0f0;
    color: #009c00;
  }
}
.btn--orange {
  background-color: #ff8800;
  border-color: #ff8800;
  color: #f0f0f0;
}
@media only screen and (hover: hover) {
  .btn--orange:hover {
    background-color: #f0f0f0;
    color: #ff8800;
  }
}

.ad__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}
.ad__container > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 64em) {
  .ad__container {
    padding: 2rem;
  }
}
.ad__img {
  min-height: 0;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.ad__img img {
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.instructions__heading {
  padding-right: 12rem;
}
.instructions__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}
.instructions__container > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 64em) {
  .instructions__container {
    padding: 2rem;
  }
}
.instructions__text p:not(:last-child), .instructions__text ul:not(:last-child), .instructions__text li:not(:last-child) {
  margin-bottom: 2rem;
}
.instructions__text ul {
  list-style-type: circle;
  margin-left: 2rem;
}

.results__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}
.results__container > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 64em) {
  .results__container {
    padding: 2rem;
  }
}

.smart-quiz {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  position: relative;
}
.smart-quiz > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 64em) {
  .smart-quiz {
    padding: 2rem;
  }
}

.time-bar {
  position: absolute;
  bottom: 2.5rem;
  left: 3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-image: linear-gradient(to right, #009c00 40%, #ff8800 70%, #c00000 95%, #c00000 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  width: calc( 100% - 2 * 3rem);
}
.time-bar__white-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(#f0f0f0, #f0f0f0);
  background-position: right;
  background-size: 100%;
  padding-left: 2rem;
  color: #f0f0f0;
  font-size: 85%;
}
.time-bar__white-bg--expired {
  -webkit-animation: pulse-bar 1s linear both infinite;
          animation: pulse-bar 1s linear both infinite;
}

@-webkit-keyframes run-bar {
  from {
    background-size: 100%;
  }
  to {
    background-size: 0%;
  }
}

@keyframes run-bar {
  from {
    background-size: 100%;
  }
  to {
    background-size: 0%;
  }
}
@-webkit-keyframes pulse-bar {
  from {
    background-image: linear-gradient(#c00000, #c00000);
  }
  to {
    background-image: linear-gradient(#f0f0f0, #f0f0f0);
  }
}
@keyframes pulse-bar {
  from {
    background-image: linear-gradient(#c00000, #c00000);
  }
  to {
    background-image: linear-gradient(#f0f0f0, #f0f0f0);
  }
}
.button__container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 31.25em) {
  .button__container {
    flex-wrap: wrap;
  }
}
.button__skip {
  flex: 0 0 100%;
  background-color: #ff8800;
  border-color: #ff8800;
  color: #f0f0f0;
  opacity: 1;
  margin-bottom: 2rem;
  transition: all 0.5s;
}
@media only screen and (hover: hover) {
  .button__skip:hover {
    background-color: #f0f0f0;
    color: #ff8800;
  }
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.topic__label {
  flex: 0 0 100%;
}
.topic__select {
  width: 100%;
  font-size: 2rem;
  line-height: 1.35em;
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.topic__select:focus, .topic__select:active {
  outline: none;
  border-color: #17408b;
  color: #17408b;
  background-color: #f0f0f0;
}
.topic__option {
  color: #3f3f3f;
}

.answers__container {
  margin-bottom: 2rem;
}
.answers__single {
  border: 1px solid #17408b;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  color: #17408b;
  position: relative;
  transition: all 0.5s;
  opacity: 1;
}
.answers__single:not(:last-child) {
  margin-bottom: 2rem;
}
.answers__single--unchecked {
  padding: 2rem;
  padding-right: 3rem;
  cursor: pointer;
}
.answers__single--checked {
  background-color: #17408b;
  color: #f0f0f0;
  position: relative;
}
.answers__single--checked::after {
  content: "ï€Œ";
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.question__heading {
  font-size: 3.5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.question__text {
  margin-bottom: 2rem;
}
.question__image {
  transition: all 0.5s;
  max-width: 100%;
  opacity: 1;
}

.jolly__container {
  position: absolute;
  z-index: 99;
  right: 3rem;
  top: 5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  background-color: #17408b;
  color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}
@media only screen and (max-width: 64em) {
  .jolly__container {
    top: 3rem;
  }
}
.jolly__container:hover i {
  transform: scale(1.2) rotate(120deg);
}
.jolly__container--disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
.jolly__container--disabled:hover i {
  transform: none;
}
.jolly__icon {
  transition: transform 0.5s;
}
.jolly__left-box {
  z-index: 11;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #ff8800;
  border-radius: 50%;
}
.jolly__left-num {
  color: #f0f0f0;
  font-size: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 2px));
}

.text-uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.vanish {
  opacity: 0;
}

.text-bold {
  font-weight: bold;
}

.text-primary {
  color: #17408b;
}

.text-red {
  color: #c00000;
}

.text-green {
  color: #009c00;
}

.text-orange {
  color: #ff8800;
}
