.answers {

    &__container {
        margin-bottom: $spacing-standard;
    }

    &__single {

        opacity: 1;
        transition: opacity $transition-duration-short;

        &:not(:last-child) {
            margin-bottom: $spacing-standard;
        }
    }

    &__label {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__input {
        margin-right: $spacing-standard;
    }

    &__img {
        max-width: 100%;
    }

}