

//  Mixins

:root {
    font-size: 62.5%;

    @include resp(tablet) {
        font-size: 55%;
    }

    @include resp(phone) {
        font-size: 50%;
    }

}

* ,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
}

body {
    font-size: $font-size-default;
    @include standard-typography;
    
    background-color: $lightgray;
}

.outer-wrapper {
    
    @include flex-col;

    justify-content: stretch;

    max-width: $content-width;
    margin: 0 auto;
    min-height: 100vh;
    padding: $spacing-standard;

    position: relative;

    @include resp(tablet) {
        padding: 0;
    }
}

h1 ,
h2 {
    font-size: 4rem;
    line-height: 5rem;
}