@mixin standard-typography {
    font-size: $font-size-default;
    line-height: $line-height-default;
    font-family: $font-family-default;
    color: $color-text;
    letter-spacing: $letter-spacing-default;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


// Media Queries

@mixin resp($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 31.25em) {    // 600px
            @content
        };
    }

    @if $breakpoint == tablet {
        @media only screen and (max-width: 64em) {    // 1024px
            @content
        };
    }

    @if $breakpoint == desktop {
        @media only screen and (max-width: 75em) {    // 1200px
            @content
        };
    }
}