@mixin flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    min-height: 100vh;
    padding: $spacing-huge $spacing-standard;

    > *:not(:last-child) {
        margin-bottom: $spacing-huge;
    }

}

.ad {
    &__container {
        @include flex-col;
    }

    &__img {
        img {
            max-width: 100%;
            max-height: 50vh;
            display: block;
            margin: auto;
        }
    }
}
.instructions {
    
    &__container {
        @include flex-col;
    }

    &__text {

        p , ul , li{

            &:not(:last-child) {
                margin-bottom: $spacing-standard;
            }
        }

        ul {
            list-style-type: circle;
            margin-left: $spacing-standard;
        }
    }
}

.results {
    &__container {
        @include flex-col;
    }
}

.smart-quiz {
    
    @include flex-col;

    position: relative;
}

.time-bar {
    position: absolute;
    bottom: $section-tiny;
    left: 0;
    height: $section-tiny;
    line-height: $section-tiny;
    background-image: linear-gradient(to right , $green 40%, $orange 70%, $red 95% , $red 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

    
    &__white-bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient($white, $white);
        background-position: right;
        
        &--running {
            animation: run-bar 5s linear forwards;
        }

        &--complete {
            animation: pulse-bar 1s linear both infinite;
        }

    }
}

@keyframes run-bar {
    from {
        background-size: 100%;
    }
    to {
        background-size: 0%;
    }
}

@keyframes pulse-bar {
    from {
        background-image: linear-gradient( $red , $red);
    }    
    to {
        background-image: linear-gradient( $white , $white);
    }
}

.button {

    &__container {
        margin-bottom: $spacing-standard;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include resp(phone) {
            flex-wrap: wrap;
        }
    }

    &__submit ,
    &__skip{

        flex: 0 0 calc( (100% - #{$spacing-standard}) / 2);

        @include resp(phone) {

            flex: 1 1 100%;

            &:not(:last-child) {
                margin-bottom: $spacing-standard;
            }

        }
    }

}