@mixin main-section {

    flex-grow: 1;

    justify-content: center;
    padding: $spacing-standard;
    background-color: $white;    

    > * {
        &:not(:last-child) {
            margin-bottom: $spacing-big;
        }
    }
}
    
.ad {

    &__container {
        @include flex-col;
        @include main-section;
    }
    
    &__img {
        min-height: 0;
        flex: 1 0 0;

        @include flex-col;

        img {
            min-height: 0;
            // flex-basis: 0;
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
        }
    }
}

.instructions {

    &__heading {
        padding-right: $section-medium + 2 * $spacing-big // spazio per icona
    }
    
    &__container {
        @include flex-col;
        @include main-section;
    }

    &__text {

        p , ul , li {

            &:not(:last-child) {
                margin-bottom: $spacing-standard;
            }
        }

        ul {
            list-style-type: circle;
            margin-left: $spacing-standard;
        }
    }
}

.results {

    &__container {
        @include flex-col;
        @include main-section;

    }
}

.smart-quiz {
    
    @include flex-col;
    @include main-section;

    position: relative;
}

.time-bar {
    position: absolute;
    bottom: $section-small;
    left: 0;
    height: $section-small;
    line-height: $section-small;
    background-image: linear-gradient(to right , $green 40%, $orange 70%, $red 95% , $red 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

    
    &__white-bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient($white, $white);
        background-position: right;
        background-size: 100%;
        padding-left: $spacing-standard;
        color: $white;
        font-size: 85%;

        &--expired {
            animation: pulse-bar 1s linear both infinite;
        }

    }
}

@keyframes run-bar {
    from {
        background-size: 100%;
    }
    to {
        background-size: 0%;
    }
}

@keyframes pulse-bar {
    from {
        background-image: linear-gradient( $red , $red);
    }    
    to {
        background-image: linear-gradient( $white , $white);
    }
}

.button {

    &__container {
        margin-bottom: $spacing-standard;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include resp(phone) {
            flex-wrap: wrap;
        }
    }

    &__submit ,
    &__skip{

        flex: 0 0 calc( (100% - #{$spacing-standard}) / 2);

        @include resp(phone) {

            flex: 1 1 100%;

            &:not(:last-child) {
                margin-bottom: $spacing-standard;
            }

        }
    }

}

.topic {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__label {
        flex: 0 0 100%;
    }

    &__select {
        width: 100%;
        @include standard-typography;

        padding: $spacing-small $spacing-big;
        text-align: center;

        border: 1px solid transparent;        
        border-radius: $border-radius-standard;

        &:focus ,
        &:active {
            outline: none;
            border-color: $color-primary;
            color: $color-primary;
            background-color: $white;
        }
    }

    &__option {
        color: $color-text;
    }
}