.text-uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.vanish {
    opacity: 0;
}

.text-bold {
    font-weight: bold;
}

.text-primary {
    color: $color-primary;
}

.text-red {
    color: $red;
}

.text-green {
    color: $green;
}

.text-orange{
    color: $orange;
}