//  Text

$font-size-default : 2rem;

$font-family-default: 'Raleway', sans-serif;

$letter-spacing-default : 1px;

$line-height-default : 1.35em;


//  Colors

$color-primary : rgb(23, 64, 139);

$color-text : rgb(63, 63, 63);

$white: rgb(240, 240, 240);
$black: rgb(17, 17, 17);

$red : rgb(192, 0, 0);

$orange :rgb(255, 136, 0);

$green : rgb(0, 156, 0);
$lightgreen : rgb(0, 231, 0);

$gray: gray;
$lightgray : rgb(204, 204, 204);

//  Spacings

$spacing-tiny       : .5rem;
$spacing-small      :  1rem;
$spacing-standard   :  2rem; 
$spacing-big        :  3rem;
$spacing-huge       :  5rem;


//  Sizing

$content-width : 80rem;

// $section-tiny   : 2rem;
$section-small  : 2.5rem;
$section-medium  : 6rem;


//  Times

$transition-duration-short : .5s;

// Misc

$border-radius-standard : .5rem;
